<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="smoo" value="you"/>

  </appSettings>
  <!--<configSections>
    <section name="MaccoSettings" type="Macco.Lib.Configuration.MaccoConfigSection,Macco.Lib"/>
  </configSections>

  <MaccoSettings>
    <Maccos>
      <add FriendlyName="Folder 1" Path="\\wscsg009\drop folder" WhatToMacco="Created|Deleted|Changed|Renamed|All" IncludeSubDirs="true" Filter="*.doc" />
    </Maccos>
  </MaccoSettings>-->
</configuration>